# --- Specific Folders to Ignore ---
Demo/
Tinhtong2so/

# --- Specific Files & Documents to Ignore ---
*.xlsx
*.pdf
mydata.txt

# --- Standard Visual Studio / C++ Build Artifacts to Ignore ---
.vs/
*.user
*.suo
*.sln.docstates
Debug/
Release/
x64/
x86/
*.obj
*.exe
*.pdb
*.log