# --- Specific Folders to Ignore ---
Demo/
Tinhtong2so/

# --- IDE & Cache Files ---
.vs/
*.ipch
*.VC.db
*.suo
*.user
*.aps

# --- C++ / Visual Studio Build Outputs ---
Debug/
Release/
x64/
x86/
*.pch
*.obj
*.exe
*.dll
*.pdb
*.ilk

# --- Documents & Spreadsheets ---
*.xlsx
*.pdf